@model IEnumerable<Post>


<div class="wrapper d-flex align-items-stretch">
    <partial name="_AdministrationSidebar">

        <div id="content" class="p-4 p-md-5 pt-5" style="width:100%">
               <!-- Breadcrumb Section Begin -->
               

            <div>
                <a asp-controller="Blog" asp-action="Edit" class="btn btn-dark">Add New Blog</a>
            </div>

                <!-- Breadcrumb Section End -->
                <!-- Blog Section Begin -->
                <section class="blog spad">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                @foreach (var post in Model)
                                {


                    <div class="blog__item">
                        @if (post.Image != null)
                        {
                    <div class="blog__item__pic set-bg" style="background-image:url(img/productAndBlogAddedImages/@post.Image)"></div> }
                else
                {
                    <div class="blog__item__pic set-bg" style="background-image:url(img/Default_Blog.png)"></div>}

                    <div class="blog__item__text">
                        <span><img src="~/img/icon/calendar.png" alt="">@post.Created</span>
                        <h5>@post.Title</h5>
                        <a class="hoverObject" asp-action="BlogDetails" asp-controller="Home" asp-route-id="@post.Id">Read More</a>
                        <br />
                        <a  class="hoverObject" asp-action="Edit" asp-controller="Blog" asp-route-id="@post.Id">Edit</a>
                        <br />
                        <a  class="hoverObject"asp-action="Remove" asp-controller="Blog" asp-route-id="@post.Id">Remove</a>
                    </div>
                    </div>
                    }
                            </div>

                        </div>
                    </div>
                 
                </section>
               
            
    </div>
</div>