
<head>
    <link href="~/css/Panel/AddProduct.css" rel="stylesheet" />
</head>
<body>
    <script src="~/js/VueComponents/DropzoneC.js"></script>
    <div class="wrapper d-flex align-items-stretch">
        <partial name="_AdministrationSidebar">
            <div id="content" class="p-4 p-md-5 pt-5">
                <div class="VueModel">
                    <div id="preloder">
                        <div class="loader"></div>
                    </div>
                    <button class="btn btn-success mt-5 mb-5" v-on:click="AddNewProductInfo()">
                        Add New productInfo
                    </button>
                    <div v-for="(product,Index) in Products">
                        <h3 style="display:inline"> New productInfo  (index:{{ Index +1}})  </h3>
                        <span class="float-right btn-danger removeProductBtn" v-on:click="RemoveProductInfo(Index)">X</span>


                        @{
                            List<Brand> Brandss = ViewData["Brandss"] as List<Brand>;
                            List<Category> Categories = ViewData["Categories"] as List<Category>;
                            List<TextSize> Sizes = ViewData["Sizes"] as List<TextSize>;
                        }
                    <div class="grid-container">

                        <div class="grid-item form-group">
                            <h3>Brands</h3>
                            <ul class="form-check">
                                @for (int i = 0; i < Brandss.Count; i++)
                                {
                                    <li>
                                        <label for="@Brandss[i].name">@Brandss[i].name</label>
                                        <input id="@Brandss[i].name"  type="radio" value="@Brandss[i].name" v-model="product.Brand" />
                                    </li>

                                }
                            </ul>
                        </div>


                        <div class="grid-item form-group">
                            <h3>Categories</h3>
                            <ul>

                                @for (int i = 0; i < Categories.Count; i++)
                                {
                                    <li>
                                        <label for="@Categories[i].name" >@Categories[i].name</label>
                                        <input id="@Categories[i].name"  type="radio" value="@Categories[i].name" v-model="product.Category" />
                                    </li>

                                }
                            </ul>

                        </div>
                        <div class="grid-item product__details__content form-group">
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-8">
                                        <div class="product__details__text form-group">
                                            <h4>SalePercentage</h4>
                                            <input class="form-control" type="number" v-model="product.salePercentage" />
                                            @*Name----------------------------------------*@
                                            <h4>name</h4>
                                            <input class="form-control" type="text" v-model="product.name" v-on:input="product.Index=Index" />
                                            @*Price----------------------------------------*@
                                            <h4>Price</h4>
                                            <input class="form-control" type="number" v-model="product.price" />
                                           
                                                @*Tags---------------------------------------------------------------*@
                                                <h4>Tags</h4>
                                                <input class="form-control" type="text" v-model="product.Tagnames" />
                                                <h4>Description</h4>
                                                <input class="form-control" type="text" v-model="product.Description" />
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div>
                            <div v-for="(productInfo,Indexx) in product.ProductInfos">

                                <table>

                                    <tr>
                                        <th>
                                            {{Index +  1 }}
                                            Colors-{{Indexx + 1}}
                                        </th>
                                        <th>
                                            @*v-if="productInfo.Color.length>0"*@
                                            Sizes

                                        </th>
                                        <th>
                                            @*v-if="productInfo.Sizes.length>0"*@
                                            Stock
                                        </th>
                                        <th >
                                            Images
                                        </th>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <span class="btn btn-success mt-5 mb-5" v-on:click="AddNewProductDetail(Index)">
                                                    +
                                                </span>
                                                <span class="float-right" style="cursor:pointer" v-on:click="RemoveProductDetail(Indexx,Index)">X</span>

                                                <label>Color</label>
                                                <input v-model="productInfo.Color" type="color" v-on:keyup.enter="productInfo.Index=Indexx" />

                                            </div>
                                        </td>
                                        <td>
                                            @*v-if="productInfo.Color.length>0"*@
                                            <div>
                                                <div class="AdminPanelSizes">


                                                    @for (int j = 0; j < Sizes.Count; j++)
                                                    {
                                                        <label>
                                                            <input type="checkbox"
                                                                   value="@Sizes[j].name" v-model="productInfo.Sizes"
                                                                   v-on:change="PopulateStocks(Index,Indexx,this.event)" />

                                                            <span>@Sizes[j].name</span>
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @*v-if="productInfo.Sizes.length>0"*@
                                            <div>
                                                @*Computed Properties biiiiiiitch*@
                                                <div>
                                                    <div v-for="(sizes,indexxx) in productInfo.Sizes">


                                                        {{sizes}}-<input type="number" v-on:input="productInfo.stock[indexxx].SizeName=sizes"
                                                                         v-model="productInfo.stock[indexxx].number" />



                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        @*multiple instances of same components updates only one key*@
                                    <td>
                                        @*v-if="productInfo.stock.length>0"*@
                                        @*@@dragenter.prevent="toggleActive"
        @@dragleave.prevent="toggleActive"
        @@dragover.prevent
        @@drop.prevent="toggleActive"
        ::class="{'active-dropzone':productInfo.active}"
                                        *@

                                        @*<div v-on:drop="drop(this.event,index,indexx)" v-on:change="SelectFiles(index,indexx,this.event)" :key=Indexx>*@

                                        <div v-on:drop="drop(this.event,Indexx,Index)"
                                             v-on:change="SelectFiles(Index,Indexx,this.event)"
                                             @@dragleave.prevent="toggleActive(Index,Indexx)"
                                             @@dragover.prevent
                                             @@drop.prevent="toggleActive(Index,Indexx)"
                                             ::class="{'active-dropzone':productInfo.active}"
                                             class="DropzoneC">

                                            <span>Drag And Drop File</span>
                                            <span>Or</span>
                                            <label for="DropzoneFile">Select File</label>
                                            <input type="file" id="DropzoneFile" class="selectFiles" multiple />
                                        </div>
                                        <div class="ImageField">
                                            <div v-for="(File,index) in productInfo.dropzoneFiles" class="file-info">
                                                File:{{File.name}}
                                                <span @@click="RemoveImage(this.event,index,Index,Indexx)">X</span>
                                            </div>
                                            <div class="UploadedImage"  v-for="(Image,index) in productInfo.dropzoneFilesUrl">
                                                <input type="radio" :value=index v-model="productInfo.Thumbnail" />
                                                <img :src="Image" />

                                            </div>
                                        </div>
                                    </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                      
                        <button class="btn-danger submitBtn" v-on:click="sendToServer">Submit</button>

                     
                    </div>
                </div>
               </div>
            
</body>




<script src="~/js/addOrEditProduct.js" defer></script>
