@model WebApplicationCrud.ViewModels.ShopViewModel




<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Shop Section Begin -->



    
    <section class="shop spad">
        <div id="compare">

        </div>
        <div id="productPanel" class="container">
            <div class="row">


                @*aqedan------------------------------------------*@

                <div class="col-lg-5">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">

                            <span class="icon_search"></span>
                            <input id="searchField" class="form-group form-control" style="display:inline;width:auto" type="text" />



                        </div>

                        <form asp-action="shop" asp-controller="Home" enctype="multipart/form-data" method="post">
                            <div class="shop__sidebar__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            @*Category filter------------------------*@
                                            <div class="card-body">
                                                <div class="shop__sidebar__categories">
                                                    <ul class="nice-scroll">
                                                        @foreach (var category in Model.Categories)
                                                        {
                                                            <li>
                                                                <input id="@category" type="checkbox"
                                                                       class="checkbox_selector category"
                                                                       value="@category" />
                                                                <label for="@category">@category</label>

                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*Brand filter------------------------*@
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__brand">
                                                    <ul>
                                                        @foreach (var brand in Model.Brands)
                                                        {
                                                            <li>
                                                                <input id="@brand" type="checkbox" class="brand checkbox_selector" value="@brand" />
                                                                <label for="@brand">@brand</label>

                                                            </li>

                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                        </div>
                                        @*Price filter---------------------------*@
                                        <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__price">
                                                    @*<ul>
                                                        @foreach (var Price in Model.PriceList)
                                                        {
                                                            <li>
                                                                <input id="@Price" type="checkbox" value="@Price" />
                                                                <label for="@Price">$@(Price-50)-$@Price</label>

                                                            </li>

                                                        }


                                                    </ul>*@

                                                    <div id="priceRangeSlider">
                                                        <div class="container">
                                                            <div class="min-value numberVal">
                                                                <input type="number" name="minNumber" value="2500" min="0" max="10000" disabled />

                                                            </div>

                                                            &nbsp;
                                                            <div class="range-slider">
                                                                <div class="progressBar"></div>
                                                                <input type="range" name="rangeSlider" class="range-min" min="0" max="10000" value="2500" />
                                                                <input  type="range" name="rangeSlider" class="range-max" min="0" max="10000" value="7500" />
                                                            </div>
                                                            &nbsp;
                                                            <div class="max-value numberVal">
                                                                <input type="number" name="maxNumber" value="7500" min="0" max="10000" disabled />
                                                            </div>

                                                        </div>
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*Size Filter---------------------------*@
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                        </div>
                                        <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__size">
                                                    @foreach (var size in Model.TextSizes)
                                                    {
                                                        <input id=@size type="checkbox" value="@size">
                                                        <label for="@size"> @size </label>



                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                        </div>
                                        <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">

                                                <div class="shop__sidebar__tags">
                                                    @foreach (var Tag in Model.Tags)
                                                    {

                                                        <input id="@Tag" type="checkbox" value="@Tag" />
                                                        <label for="@Tag">@Tag</label>



                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*</div>*@
                            <div>
                                <input class="btn btn-dark mt-5" type="submit" name="Submit" value="Submit" />
                            </div>

                            @*aqamde--------------------------*@
                        </form>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">

                                    <div class="dropdown">
                                        <button class="dropdown-toggle btn btn-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sort By Price
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-action="Shop" asp-controller="Home" asp-route-SortOrder="Featured">Featured</a>
                                            <a class="dropdown-item" asp-action="Shop" asp-controller="Home" asp-route-SortOrder="High To Low">High To Low</a>

                                            <a class="dropdown-item" asp-action="Shop" asp-controller="Home" asp-route-SortOrder="Low To High">Low To High</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    @*normal Shop*@

                    <div id="ProductList">
                        @await Html.PartialAsync("_ProductListing", Model.products)
                    </div>
                    @*Pagination-----------------------------*@
                    <div class="row">
                        <div class="col-lg-12">


                            <div class="pagination">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>

</body>

<script>




    $(document).ready(function () {
        $("#searchField").on("keyup", function () {
            var searchValue = this.value;
            var searchList = $("#pagination-content .content");
            if (searchList.length !== 0 && searchList !== undefined && searchList !== null) {
                Array.from(searchList).forEach(function (result, index) {
                    var resultAttr = result.dataset.name;
                    console.log(resultAttr, "id");
                    if (resultAttr.indexOf(searchValue) !==
                        0 && resultAttr.toLowerCase().
                            indexOf(searchValue.toLowerCase()) < 0) {
                        result.style.display = "none";
                    }
                    else {
                        result.style.display = "block";
                    }
                });
            }
        });

        function filter_data() {

            var brandName = get_filter("brand");
            var categoryName = get_filter("category");
            $.ajax({
                url: 'CustomFilter',
                type: 'GET',
                data: { CategoryName: categoryName, BrandName: brandName },
                success: function (result) {
                    $("#ProductList").html(result);
                }
            });
        };
        function get_filter(class_name) {
            var filter;
            $('.' + class_name + ':checked').each(function () {
                filter = ($(this).val());
            });
            return filter;
        };
        $(".checkbox_selector").change(function () {
            filter_data();
        })

        $(".compare").click(function () {
            $("#compare").addClass("compare1")
            $("#productPanel").css("width","75%")

        })



        const range = document.querySelectorAll('.range-slider input');
        console.log("range", range);
        progress = document.querySelector('.range-slider .progressBar');
        let gap = 1000;
        const inputValue = document.querySelectorAll('.numberVal input');
        console.log("progress", progress);
        range.forEach(input => {
            input.addEventListener('input', e => {
                console.log("es e a ", e);
                let minrange = parseInt(range[0].value),
                    maxrange = parseInt(range[1].value);
                console.log("es min", minrange);
                console.log("es max", maxrange);
                if (maxrange - minrange < gap) {
                    if (e.target.className === "range-min") {
                        range[0].value = maxrange - gap;

                    }
                    else {
                        range[1].value = minrange + gap;

                    }

                }
                else {
                    progress.style.left = (minrange / range[0].max) * 100 + '%';
                    progress.style.right = 100 - (maxrange / range[1].max) * 100 + '%';
                    inputValue[0].value = minrange;
                    inputValue[1].value = maxrange;
                }

            })
        })
    });
</script>


