@model List<Product>


<div class="pagination-content" id="pagination-content">
    @foreach (var prod in Model)
    {


        <div data-name="@prod.name" class="row content">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item ">
                    <a asp-action="ProductPanel" asp-controller="Home" asp-route-id="@prod.id">

                        <div id="@prod.id"class="product__item__pic set-bg" >

                            @{
                                string image_path = "";
                                if (!string.IsNullOrEmpty(prod.ProductInfos.Select(s => s.ProductInfoThumbnailName).FirstOrDefault()))
                                {



                                    image_path = $"img/productAndBlogAddedImages/{prod.ProductInfos.Select(s => s.ProductInfoThumbnailName).FirstOrDefault()}";

                                    <img  src="~/@image_path" />
                                }
                                else
                                {
                                    <img src="~/img/Default_Product.jpg" />
                                }

                            }




                            <ul class="product__hover">
                                <li><a href="#"><img src="../img/icon/heart.png" alt=""></a></li>
                                <li>
                                    <a href="#"><img src="../img/icon/compare.png" alt=""> <span>Compare</span></a>
                                </li>
                                <li><a href="#"><img src="../img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <h6>@prod.name</h6>

                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>

                      
                       
                            <h5>@prod.price</h5>
                        


                            <div id="product__color__select" class="product__color__select">
                                @foreach (var productInfo in prod.ProductInfos)
                                {
                                    <label  for="@productInfo.ProductInfoThumbnailName">
                                        <input class="colorChange" type="radio" id="@productInfo.ProductInfoThumbnailName" style="background-color:@productInfo.color">
                                    </label>

                                }


                            </div>
                    </div>

                </div>
            </div>

        </div>
    }
</div>



<script>
    $(document).ready(function () {
        $(".colorChange").change(function () {
            console.log("mesiji",this);
            var src = "img/productAndBlogAddedImages/" + $(this).id;
            this.parentElement.classList.toggle("active");
            $("#productThumbnail").attr("src", src);
           

        })
    })
  
</script>