@model List<ProductViewModel>


<div class="pagination-content" id="pagination-content">
    @foreach (var prod in Model)
    {


        <div data-name="@prod.Name" class="row content">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item ">
                   

                    <div id="@prod.Id" class="product__item__pic set-bg">
                        <a asp-action="ProductPanel" asp-controller="Home" asp-route-id="@prod.Id">
                            @{
                                string image_path = "";
                                if (!string.IsNullOrEmpty(prod.ProductInfos.Select(s => s.ProductInfoThumbnailName).FirstOrDefault()))
                                {



                                    image_path = $"img/productAndBlogAddedImages/{prod.ProductInfos.Select(s => s.ProductInfoThumbnailName).FirstOrDefault()}";

                                    <img id="img @prod.Id" src="~/@image_path" />
                                }
                                else
                                {
                                    <img id="img @prod.Id" src="~/img/Default_Product.jpg" />
                                }

                            }



                        </a>
                        <ul class="product__hover">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (prod.IsUserFavourite)
                                {
                                    <li data-id="@prod.Id" class="favourite"><i data-id="@prod.Id" class="fa fa-heart"></i></li>

                                }
                                else  
                                {
                                     <li data-id="@prod.Id" class="favourite"><i data-id="@prod.Id" class="fa fa-heart-o"></i></li>
                                }

                            }



                        </ul>
                    </div>
                    
                    <div class="product__item__text">
                        <h6>@prod.Name</h6>

                        <div class="rating">
                            @if (prod.StarRate.HasValue)
                            {
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < prod.StarRate)
                                    {
                                        <i class="fa fa-star"></i>

                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o"></i>

                                    }
                                }
                            }
                            else
                            { <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>

                            }

                        </div>

                      
                       
                            <h5>@prod.Price</h5>
                        


                            <div class="product__color__select">
                                @foreach (var productInfo in prod.ProductInfos)
                                {
                                <label for="@productInfo.Color"  style="background-color:@productInfo.Color">
                                    <input class="colorChange" 
                                           data-imgsrcid="img @prod.Id"
                                           data-imgname="@productInfo.ProductInfoThumbnailName"
                                           type="radio" 
                                           name="colorSelect"
                                           id="@productInfo.Color"
                                           style="background-color:@productInfo.Color">
                                </label>

                                }


                            </div>
                    </div>

                </div>
            </div>

        </div>
    }
</div>



<script>
    $(document).ready(function () {
        $(".colorChange").change(function () {

            srcId = this.dataset.imgsrcid;
            imgname = this.dataset.imgname;
            var colors = document.querySelectorAll(".colorChange");
            colors.forEach(color => {
                color.parentElement.classList.remove("active");
            })
            var src = "../img/productAndBlogAddedImages/" + imgname;
            if (this.checked) {
                this.parentElement.classList.add("active");
            }

            document.getElementById(srcId).src = src;


        })

        $(".favourite").on("click", function (e) {

            var id = e.target.dataset.id;
            $.ajax({
                url: "@Url.Action("ToggleFavourite","Panel")",
                type: 'POST',
                data: { id: id }
            });

        })
    })

</script>